.searchBar {
    flex: 1 1 350px;
    max-width: 400px;
    margin: 0 2rem;
    display: flex;
    align-items: center;
    background: #f5f5f5;
    border-radius: 30px;
    padding: 0.3rem 1rem;
}

.searchBar input {
    color: #333;
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    font-size: 1rem;
    padding: 0.5rem 0;
}

.searchBar button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #333;
    margin-left: 0.5rem;
    transition: color 0.2s;
}

.searchBar button:hover {
    color: #0078f6;
}


@media (max-width: 900px) {
    .searchBar {
        max-width: 100%;
        min-width: 0;
        margin: 0 0.5rem;
        padding: 0.3rem 0.5rem;
    }

    .searchBar input {
        font-size: 0.95rem;
        min-width: 0;
    }

    .searchBar button {
        font-size: 1.1rem;
        margin-left: 0.3rem;
    }
}

@media (max-width: 700px) {
    .searchBar {
        display: none;
    }
}