.header {
    padding: 20px;
    background-color: #eee;
}

.link span {
    width: 85px;
    color: #fff;
    background-color: #0075ff;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.link span:hover {
    background-color: #1471db;
}


.header .headerContent p,
.body p {
    color: #888;
}

.header .welcome {
    width: 200px;
}

.body {
    padding: 20px;
    border-right: 0;
    border-top: 1px solid #eee;
    border-right: 0;
    border-bottom: 1px solid #eee;
}